@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* branco */
    --foreground: 251.5 67.4% 16%; /* escurecendo a primária para foreground */
    --card: 0 0% 100%; /* branco */
    --card-foreground: 251.5 67.4% 16%; /* escurecendo a primária */
    --popover: 0 0% 100%; /* branco */
    --popover-foreground: 251.5 67.4% 16%; /* escurecendo a primária */
    --primary: 251.5 67.4% 52%; /* nova cor primária */
    --color-seconday: 354 95% 64%;
    --primary-foreground: 0 0% 100%; /* branco, para contraste com primária */
    --secondary: 251.5 40% 70%; /* um tom mais claro da primária */
    --secondary-foreground: 251.5 67.4% 16%; /* escurecendo a primária */
    --muted: 251.5 20% 88%; /* tom muito suave da primária */
    --muted-foreground: 251.5 30% 40%; /* contraste com muted */
    --accent: 251.5 40% 70%; /* igual ao secondary para consistência */
    --accent-foreground: 251.5 67.4% 16%; /* escurecendo a primária */
    --destructive: 0 84.2% 60.2%; /* vermelho como cor de alerta */
    --destructive-foreground: 0 0% 100%; /* branco para contraste */
    --border: 134 61% 58%; /* tom suave da primária para bordas */
    --input: 251.5 20% 88%; /* igual ao border para consistência */
    --ring: 251.5 67.4% 52%; /* igual à primária para anéis */
    --radius: 0.5rem; /* não precisa de alteração */
    --chart-1: 12 76% 61%; /* mantém o laranja */
    --chart-2: 173 58% 39%; /* mantém o verde */
    --chart-3: 197 37% 24%; /* mantém o azul petróleo */
    --chart-4: 43 74% 66%; /* mantém o amarelo */
    --chart-5: 27 87% 67%; /* mantém o laranja claro */
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(to right, #694af0, #2e0a5c, #fa525b);
  background-size: 200% 500%;
  animation: gradient 20s ease infinite;
}
.gradient-bg-a {
  background: linear-gradient(to right, #2e0a5c, #694af0);
  background-size: 180%;
  /* animation: gradient 20s ease infinite; */
}